<div class="header-class">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Visual_Studio_Code_1.35_icon.svg/1200px-Visual_Studio_Code_1.35_icon.svg.png" alt="logo">
    <a class="a">File</a>
    <a class="a">Edit</a>
    <a class="a">Selection</a>
    <a class="a">View</a>
    <a class="a">Go</a>
    <a class="a">Run</a>
    <a class="a">Terminal</a>
    <a class="a">Help</a>
    <a class="name"> Jakub Kruczek - Visual Studio Code</a>
    <img src="../../assets/zjecia/plik7.png" class="siedem"> 
    <img src="../../assets/zjecia/plik6.png" class="reszta">
    <img src="../../assets/zjecia/plik5.png" class="reszta">
    <img src="../../assets/zjecia/plik4.png" class="reszta">
    <img src="../../assets/zjecia/plik3.png" class="reszta">
    <img src="../../assets/zjecia/plik2.png" class="reszta">
    <img src="../../assets/zjecia/plik1.png" class="reszta">
</div>