<div class="column">
    <div>
      <i class="fa fa-github" aria-hidden="true" (click)="setSelected('md')"></i>
    </div>
    <div>
      <i class="fa fa-files-o" aria-hidden="true" (click)="setSelected('html')"></i>
    </div>
    <div>
      <i class="fa fa-pencil" aria-hidden="true" (click)="setSelected('json')"></i>
    </div>
    <div>
      <i class="fa fa-code" aria-hidden="true" (click)="setSelected('js')"></i>
    </div>
    <div>
      <i class="fa fa-envelope" aria-hidden="true" (click)="setSelected('css')"></i>
    </div>
    <div class="bottom-images">
      <div class="dol">
        <i class="fa fa-user-circle-o" aria-hidden="true" (click)="setSelected('home')"></i>
      </div>
      <div class="dol">
        <i class="fa fa-cog" aria-hidden="true"(click)="setSelected('settings')"></i>
      </div>
    </div>

  